<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= object.name %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to 'HOME', potepan_root_path%>
          </li>
          <% if object == @taxon %>
            <li>
              <a href="#">shop</a>
            </li>
          <% end %>
          <li class="active"><%= object.name %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
