<% if params[:layout] == "list" %>
  <div class="col-xs-12">
    <%= render 'potepan/shared/list_product', product: product %>
  </div>
<% else %>
  <div class="col-sm-4 col-xs-12">
    <%= render 'potepan/shared/grid_product', product: product %>
  </div>
<% end %>
